body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: #b5f05d;

}

select {
  color: green;
}


.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  margin-top: 40px;
}